/*=================== fonts ====================*/
* {
    font-family: 'Gugi', cursive;
    color: #b4ab9f;
}

a {
    color: #c7b0ff;
}

body {
    background-color: #080615;
}
button {
    cursor: pointer;
}

/*=================== navbar ====================*/
.addition_modal_body img, .addition_modal_body video{
    width:100%;
    height:100%;
    display:none;
}



.box {
    width:700px;
    height:200px;
    font-size:30px;
    margin:auto;
    text-align:center;
    border-radius: 2%;
    border: 1px dashed #88f3ff;
    align-items: center;
    justify-content: center;
    padding-top:50px
}

/*=================== main page ====================*/
.main_page_all {
    background-color: #080615;
    /* width: 100vw;
    height: 100vh; */
    margin: auto;
    max-width: 500px;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}
/*===================modal====================*/


.modal-title {
    width: 100%;
    text-align: center;
}


/*===================여기 수정====================*/

.card_box {
    margin-bottom: 70px;
    border: 1px solid rgb(16, 15, 36);
    background-color: #0a071a;
}

.card-text {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


.card-text h6 {
    color: #C7B0FFFF;
}

.card_comment {
    margin-bottom: 5px;
}

/*================== 수정중====================*/

.btn-primary {
    margin-top: 15px;
    font-family: sys;
    height: 30px;
    font-size: 12px;
    width: 90%;
}
/*==================게시글 모달 관련 CSS 시작====================*/
.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 1050
}

.modal_window {
    background-color: #080615;
    opacity: 0.8;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid antiquewhite;
    width: 550px;
    height: 600px;
    position: relative;
    padding: 10px;
}

.modal_x_box {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.modal_x_box i {
    color: #C7B0FFFF;
}

.addition_modal_head {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C7B0FFFF;
    opacity: 0.8;
    font-size: 1em;
}

.addition_modal_body {
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 2px dashed #88F3FFFF;
    outline-offset: -10px;
    margin-top: 10px
}

.addition_modal_body p {
    color: #88F3FFFF;
}

/*==================게시글 모달 관련 CSS 끝====================*/

