<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>호빈교</title>
    <link rel="icon" href="../static/img/symbol.png" type="image/ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link
            href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=East+Sea+Dokdo&family=Gugi&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@300;500;600;900&family=Stylish&family=Yeon+Sung&display=swap"
            rel="stylesheet">

    <!-- Optional JavaScript -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fortawesome.com/99966411.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- main css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <script src="../static/css/script.js"></script>
</head>
<body>
<main class="">
    <div style="width: 100%; text-align: center">
        <img style="width: 1000px" src="../static/img/main.png">
        <br>
        <button type="button" class="btn btn-primary btn-lg" id="add_box" style="width: 100px; height: 50px;">업로드
        </button>
    </div>

    <div class="main_page_all">
        <div class="main_column">

            <div id="card_box" class="card_box">
                <div class="card_body">
                    <div class="card-text">
                        <span id="shown_desc" class="card_comment">고양이뱀</span>
                    </div>

                </div>
                <img class="d-block w-100" src="../static/img/cat.jpg">


            </div>
        </div>
    </div>
</main>
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div class="addition_modal_head">
            <div style="width:40px"></div>
            <p class="modal-title">뱀사진 분류하기</p>
            <button id="modal_x_box" class="modal_x_box"><i class="fa fa-x"></i></button>
        </div>
        <div id="image_upload" class="addition_modal_body">
            사진을 여기에 끌어다 놓으세요

        </div>
    </div>
</div>
<div id="second_modal" class="modal_overlay">
    <div class="modal_window2">
        <div class="addition_modal_head">
            뱀사진 분류하기
            <button id="modal_x_box2" class="modal_x_box"><i class="fa fa-x"></i></button>
        </div>
        <div class="addition_modal_body2">
            <div class="img_upload_space"></div>



                    <button id="feed_create_button" onclick="uploading_files()"
                            style="background-color: transparent; border-color: #C7B0FFFF; color: #C7B0FFFF;width:100px;border-radius: 5px ">
                        Submit
                    </button>


        </div>
    </div>
</div>
<script>
    let files;

    $('#add_box').click(function () { //+버튼 클릭시 1번모달창 나타나기
        $('#first_modal').css({
            display: 'flex'
        });
        $(document.body).css({   //+버튼 클릭시 전체화면 스크롤바 사라짐
            overflow: 'hidden'
        })
    });
    $('#modal_x_box').click(function () {   //x버튼 클릭시 1번모달창 사라짐
        $('.modal_overlay').css({
            display: 'none'
        });
        $(document.body).css({
            overflow: 'visible'
        })
    });
    $('#modal_x_box2').click(function () {   //x버튼 클릭시 2번모달창 사라짐
        $('.modal_overlay').css({
            display: 'none'
        });
        $(document.body).css({
            overflow: 'visible'
        })
    });
    $('.addition_modal_body')    //모달창에 드래그앤 드롭 기능 구현하겠다
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {     //드래그오버 함수
        e.stopPropagation();   //드래그오버시 모달창만 반응하고 뒤의 페이즈는 반응하지 않음
        e.preventDefault();
        if (e.type == "dragover") {  //드래그오버하면 outline이 가운데로 몰림
            $(e.target).css({
                "outline-offset": "-20px",
                "border-radius": "8px"
            });
        } else {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e) {  //업로드파일 함수
        e.stopPropagation();  //업로드파일시 모달창만 반응하고 뒤의 페이즈는 반응하지 않음
        e.preventDefault();
        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.dataTransfer.files;
        if (files.length > 1) {    //파일갯수가 여러개면 하나만 올려주세요 창이 뜸
            alert('하나만 올려 주세요');
            return;
        }
        //파일이 이미지로 인식되면 배경 이미지 바뀌게 만듬
        if (files[0].type.match(/image.*/)) {

            $('#first_modal').css({
                display: 'none'
            });
            $('#second_modal').css({
                display: 'flex'
            });


            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100% 100%"
            });
        } else {
            alert('이미지가 아닙니다.');
        }
    }

    //파일 업로드 여기서부터 시작
    function uploading_files() {
        let file = files[0]; //실제 파일
        let image = files[0].name; //파일명
        let desc = $('#input_feed_content').val(); //이미지 밑에 쓴 글
        console.log(image)
        let formData = new FormData();
        formData.append('file_give', file)
        formData.append('image_give', image)
        formData.append('desc_give', desc)
        $.ajax({
            type: 'POST',
            url: '/content',
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                if (response['result'] == 'success') {
                    alert(response['msg'])
                    window.location.href = '/'
                } else {
                    alert(response['msg'])
                    window.location.reload()
                }
            },
            error: function (err) {
                console.log('error:' + err)
            }
        });
    }
</script>
</body>
</html>